server:
  port: 8080

spring:
  application:
    name: porygonz-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200}
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        # gym-leader (Pokedex API)
        - id: gymleader-pokemon
          uri: ${GYMLEADER_URI:http://localhost:8081}
          predicates:
            - Path=/api/v1/pokemon/**

        # typematch (Comparator API)
        - id: typematch-compare
          uri: ${TYPEMATCH_URI:http://localhost:8082}
          predicates:
            - Path=/api/v1/compare/**