server:
  port: 8080

spring:
  application:
    name: porygonz-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: gymleader-service
          uri: lb://gymleader-api
          predicates:
            - Path=/api/compare/**
          filters:
            - RewritePath=/api/compare/(?<segment>.*), /pokemon/${segment}

    loadbalancer:
      ribbon:
        enabled: false

    discovery:
      client:
        simple:
          instances:
            gymleader-api:
              - uri: http://localhost:8081